/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --font-family: 'IBM Plex mono', monospace;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --menu-text-color: #FF0070;
  --corner-color: #FF0070;
  --section-title-color: #FF0070;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --heading-color: #DB00FF;
  --shadow-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}

:root.theme-dark .header__rec {
  display: block;
}