:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --menu-text-color: #353430;
  --corner-color: #353430;
  --section-title-color: #353430;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --heading-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --menu-text-color: #353430;
    --corner-color: #353430;
    --section-title-color: #353430;
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --heading-color: #FFC2E6;
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}

:root.theme-light .header__rec {
  display: none;
}