/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --title-color: #353430;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --heading-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --heading-color: #FFC2E6;
    --bg-image: url(../images/cover-image-light.png);
  }
}

/* Скрываем REC при светлой теме */
.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  .header__rec {
    display: none;
  }
}