/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. 
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--font-family);
}

.header {
  min-height: 668px;
  height: 100vh;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}


.decorated-zone::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
}

.header__rec {
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 39px;
  font-family: var(--font-family);
  color: var(--accent-color);
  font-size: 18px;
  margin: 0;
}

.header__rec::after {
  content: '';
  position: absolute;
  left: 42px;
  top: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  /* или 50%, если нужен круг */
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: right;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  list-style: none;
  gap: 12px;
  margin: 0;
}

.header__theme-menu-button {
  background: none;
  border: none;
  font-family: var(--font-family);
  color: var(--menu-text-color);
  font-size: 18px;
  cursor: pointer;
  padding: 0px 13px;

}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--menu-text-color-rgb), 0.4);
  opacity: 0.4;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--menu-text-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--menu-text-color);
  padding: 0px 12px;
}

.header__title {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-weight: 700;
  margin: 0;
}

.header__text {
  grid-row: 3;
  font-size: 18px;
  line-height: 130%;
  padding-right: 40px;
  align-self: center;
}

.main {
  padding: 10px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-weight: 700;
  line-height: 130%;
}

.content-section {
  display: grid;
  padding: 2px;
  gap: 2px;
}

.content-section__title {
  color: var(--section-title-color);
  font-size: 18px;
  margin-top: 26px;
  font-weight: 700;
}

.article__title {
  margin-top: 20px;
}

.goldfish_article__title {
  font-weight: 400;
  font-size: 18px;
}

.article__text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 10px;
}

.changes-section_concentration-section {
  margin-top: 17px;
}

.title__concentration-section {
  margin-top: 33px;
}

.title__fishbox-section {
  margin-top: 54px;
}


.gallery-section__title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 63px;
  margin-bottom: 0;
}

.gallery-section {
  margin-bottom: 48px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 13px;
  margin-bottom: 10px;
  padding: 0px;
}

.gallery__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer {
  min-height: 668px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 100vh;
}


.footer__logo {
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
}

/*! для планшета !*/
@media (min-width: 768px) {

  .header {
    min-height: 1024px;
    grid-template-columns: 20px 2fr 1fr 1fr 20px;
    /*! чтобы заголовок встал по макету иначе мешает padding у header !*/
    grid-template-rows: 1fr min-content 1fr;
    padding: 20px 0;
  }

  .header__title {
    grid-column: 1 / 5;
    align-self: start;
  }

  .header__text {
    grid-column: 3/5;
    justify-self: center;
    align-self: center;
    padding-right: 42px;
  }

  .header__rec {
    top: 20px;
    right: 48px;
  }

  .header__theme-menu {
    grid-column: 4;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main {
    padding: 20px;
  }

  /* Секции */
  .changes-section {
    grid-template-columns: 1fr 2fr;
    /* две колонки */
    gap: 16px;
  }

  .content-section__title {
    margin-top: 37px;
  }

  .shadow-text {
    display: inline-block;
    text-decoration: none;
    text-shadow: 1px 3px 0px #FF0055;
  }

  .content-section__articles {
    margin-top: 16px;
  }

  .changes-section_concentration-section {
    grid-template-columns: min-content 2fr;
    grid-template-rows: min-content 2fr;
    margin-top: 13px;
  }

  .title__concentration-section {
    grid-row: 1;
    grid-column: 1;
    margin-top: 66px;
  }

  .content-section__articles_layout_three-columns {
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 0;
  }

  .title__fishbox-section {
    margin-top: 66px;
  }

  .fish_advices__article-title {
    margin-top: 50px;
  }

  /* Галерея */
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    grid-template-areas:
      "zakat   zakat   bear"
      "caset   cup     bear"
      "caset  street  street";
  }

  .gallery-section__title {
    margin-top: 99px;
    margin-bottom: 20px;
  }

  .gallery__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gallery__image_zakat {
    grid-area: zakat;
  }

  .gallery__image_bear {
    grid-area: bear;
  }

  .gallery__image_audiocaset {
    grid-area: caset;
  }

  .gallery__image_cup {
    grid-area: cup;
  }

  .gallery__image_anime-street {
    grid-area: street;
  }

  .footer {
    min-height: 1024px;
  }

  .footer__logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* для десктопа */
@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }

  .header__title {
    font-size: clamp(7.25rem, 5.77rem + 6.32vw, 9.8125rem);
  }

  .header__text {
    margin-top: 28px;
    align-self: start;
    padding: 0;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .changes-section {
    gap: 7px;
  }

  .changes-section_concentration-section {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 2fr;
    margin-top: 44px;
  }

  .content-section__articles_layout_three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin: 0;
  }

  .content-section__title {
    margin-top: 37px;
  }

  .content-section__articles {
    margin-top: 16px;
  }

  .section__goldfish {
    margin-top: 30px;
  }

  .fish_advices__article-title {
    margin-top: 20px;
  }

  .gallery {
    grid-template-rows: auto auto auto;
  }

  .gallery-section__title {
    margin-top: 85px;
    margin-bottom: 19px;
  }

  .gallery-section {
    margin-bottom: 48px;
  }

  .footer {
    min-height: 768px;
  }

  .footer__logo {
    font-size: clamp(7.25rem, 5.77rem + 6.32vw, 9.8125rem);
  }

}